<div class="container">
  <h1>Cadastro de funcionario</h1>
  <div class="inputs-container">
    <label for="name">
      <span>Nome</span>
      <input type="text" id="name" disabled />
    </label>
    <div class="label-group">
      <label for="birth">
        <span>Data de nascimento</span>
        <input type="date" id="birth" disabled />
      </label>
      <label for="codeOFId">
        <span>Código de identificação</span>
        <input type="number" id="codeOFId" disabled />
      </label>
    </div>
    <label for="email">
      <span>Email</span>
      <input type="email" id="email" disabled />
    </label>
    <label for="password">
      <span>Senha</span>
      <input type="password" id="password" disabled />
    </label>
    <label for="sex">
      <span>Sexo</span>
      <select id="sex" disabled>
        <option value="masculino">Masculino</option>
        <option value="feminino">Feminino</option>
      </select>
    </label>
    <label id="terms-label">
      <span>Eu concordo com os termos</span>
      <input type="checkbox" id="terms" disabled />
    </label>
  </div>
  <button class="btn-edit">
    Editar Formulario
  </button>
  <button class="btn-save">
    Salvar Dados
  </button>
</div>
